[Unit]
Description=Ansible AF HTTP Service
After=network.target

[Service]
Environment=ANSIBLE_PATH=/etc/ansible
Environment=ANSIBLE_AF_HOST_WAIT=30
Environment=PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/srv/ansible_af/bin"
Environment=ANSIBLE_HOST_KEY_CHECKING=False
ExecStart=/srv/ansible_af/bin/ansible-af-runner --loop
WorkingDirectory=/srv/ansible_af/
Restart=on-failure

[Install]
WantedBy=multi-user.target
